<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style.css">
  <title>Document</title>
</head>


<body >
  <div class="container">
    <h1>STUDENT APPLICATION FORM</h1>
    <form id="student-form" onsubmit="return validateForm()">
      <div><img src="../public/images/1. Form on load.PNG"></div>

        <div class="label-input-group">
            <label for="firstName">Sirname:</label>
            <input type="text" id="firstName">
        </div>

        
        <div class="label-input-group">
          <label for="lastName">Given name:</label>
          <input type="text" id="lastName">
      </div>
        


        <div class="label-input-group">
            <label for="course">Contact:</label>
            <input type="tel" id="course" pattern="[0-9]{10}">
        </div>

        <div class="label-input-group">
            <label for="entrySchema">Date of Birth:</label>
            <input type="date" id="entrySchema" >
        </div>

        <div class="label-input-group">
            <label for="intake">Date Joined School:</label>
            <input type="date" id="intake">
        </div>

        <div class="label-input-group">
            <label for="sponsorship">NSSF Number:</label>
            <input type="text" id="sponsorship">
        </div>


      <div class="label-input-group">
        <label for="gender">Gender:</label> <!-- Moved the label here -->
        <div class="gender-selection"> <!-- Moved the gender-selection div here -->
            <label for="male" class="gender-option">
                <input type="radio" id="male" name="gender" value="male">
                <span class="gender-circle"></span>
                Male
            </label>
            <label for="female" class="gender-option">
                <input type="radio" id="female" name="gender" value="female">
                <span class="gender-circle"></span>
                Female
            </label>
        </div>
    </div><br>
    
  
        <button type="submit">Submit</button>
    </form>
</div>
