/* new */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 990px;
  margin: auto;
}

.image, .form-side {
  flex: 1;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc; /* Border around the image container */
  border-radius: 0; /* Square corners */
}

.image img {
  max-width: 100%;
}

.form-side {
  margin-left: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.label-input-group {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.label-input-group label {
  margin-bottom: 5px;
  color: green; /* Set label color to green */
}

.label-input-group input,
.label-input-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
   /* Set input fields background color to light green */
  border-color: green; /* Set input fields text color to green */
  
}

.gender-selection {
  display: flex;
  align-items: center;
}

.gender-option {
  position: relative;
  margin-right: 20px;
}

.gender-option input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.gender-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid lightblue;
  background-color: transparent;
}

.gender-option input[type="radio"]:checked + .gender-circle {
  background-color: darkblue;
}

.submit-row {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0C5F52;
  color: white;
  cursor: pointer;
  width: 30%;
}


